body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="none" stroke="%23ffffff" stroke-width="0.5"><circle cx="50" cy="50" r="48"/></svg>');
    background-size: 200px 200px;
    background-repeat: repeat;
    animation: backgroundMove 10s linear infinite;
}

.roadmap {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #1a1a1a;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #00ffcc;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: fadeIn 2s ease-in-out;
}

.phase {
    background-color: #1e1e1e;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
    transition: background-color 0.3s, transform 0.3s;
}

.phase:hover {
    background-color: #2a2a2a;
    transform: scale(1.02);
}

.phase h2 {
    margin-top: 0;
    color: #ffcc00;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.icon:hover {
    transform: rotate(20deg);
}

.phase ul {
    list-style-type: none;
    padding: 0;
}

.phase li {
    margin: 10px 0;
    padding: 10px;
    background-color: #2a2a2a;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.phase li:hover {
    background-color: #333333;
}

.phase ul ul {
    margin-top: 10px;
    padding-left: 20px;
}

.phase ul ul li {
    background-color: transparent;
    padding: 5px 0;
    color: #cccccc;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes backgroundMove {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 200px 200px;
    }
}

input[type="checkbox"]:checked+label {
    text-decoration: line-through;
    color: #888;
    transition: color 0.3s, text-decoration 0.3s;
    cursor: pointer;
}

input[type="checkbox"]+label {
    transition: color 0.3s, text-decoration 0.3s;
    cursor: pointer;
}

.header-content {
    position: relative;
}

.github-link {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    background-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: none;
}

.github-icon {
    width: 28px;
    height: 28px;
    fill: #ffffff;
    transition: none;
}